/* * {
  max-width: 1160px;
  margin: 0;
  padding: 0;
} */

.table__selection {
  max-width: 80%;
  margin: auto;
}

.center {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  justify-content: center;
}

.search__bar {
  max-width: 50%;
  margin: auto;
}

.active {
  background: #007bff;
}

.loadmore {
  text-align: center;
}

.custom__set {
  margin-left: 50px;
  width: 11%;
}
