.bg {
  height: 100%;
  width: 100%;
  background-color: #ffee00;
  clip-path: polygon(100% 0, 100% 70%, 100% 78%, 0 100%, 0 0);
  position: absolute;
  z-index: -1;
}

.table__selection {
  max-width: 80%;
  margin: auto;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid rgba(128, 128, 128, 0.4) !important;
}

.center {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  justify-content: center;
}

.search__bar {
  max-width: 50%;
  margin: auto;
}

.active {
  background: #007bff;
}

.loadmore {
  text-align: center;
}

.custom__set {
  margin-left: 50px;
  width: 11%;
}
